# Setup shared volumes persistent claims
{{- range $volume := .Values.deployment.spec.nodesSharedDisks }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $volume.name }}
  namespace: {{ $.Values.deployment.namespace }}
  annotations:
    {{ $.Values.annotationKeys.applyPriority }}: "10"
    {{- with $.Values.storage.shared.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- if not (has $volume.name $.Values.volumes.backups) }}
    velero.io/exclude-from-backup: true
    {{- end }}
    {{ $.Values.labelKeys.managed }}: true
    {{- with $.Values.defaultLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  ownerReferences:
    {{- with $.Values.ownerReferences }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  storageClassName: {{ $.Values.storage.shared.storageClassName }}
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ $volume.size }}
{{- end }}