---
kind: "Service"
apiVersion: "v1"
metadata:
  name: "operator"
  namespace: "default"
spec:
  ports:
    - name: "operator"
      protocol: "TCP"
      port: 443
      targetPort: 8443
---
kind: "Endpoints"
apiVersion: "v1"
metadata:
  name: "operator"
  namespace: "default"
subsets:
  - addresses:
      - ip: "#IP#"
    ports:
      - port: 8443
        name: "operator"
---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1.operator.enonic.cloud
spec:
  group: operator.enonic.cloud
  groupPriorityMinimum: 1000
  versionPriority: 15
  caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZEVENDQXZXZ0F3SUJBZ0lVRzVZbjJGS2dDNllKdE92UkFhZUsxdGlJMHRFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xiWGxoZFhSb2IzSnBkSGt3SGhjTk1qRXdOVEEwTVRRek1URTNXaGNOTXpFdwpOVEF5TVRRek1URTNXakFXTVJRd0VnWURWUVFEREF0dGVXRjFkR2h2Y21sMGVUQ0NBaUl3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dJUEFEQ0NBZ29DZ2dJQkFLd0FTb2ZvN3NUWmp0Z0xNaVU2bTRPa3Y1M2JDU1MzRTFZb1IxeFQKa0xjNTIxQmFhbkdZc0dLdEpXM2pjaU5SR01Pd0hYRWQrTm9XS3l6TlZCUDhHc2c0WURjOGlKUFpFTjJ0WXNXYgpSWTVyRTJ4M1diaG4xbzIvTWJQK0d1YktnU3Z0Qm01RERSaDNaQUl0ZUNlcmp1OEFua08zMFp4ZGdIM0FGN1RoCm5SN3d2RnN6VnFNVlVJazltVzBPbnBkMHJTOVN0K2xIeXlKb2UyRHdjaTRNV08yaUN1OWlhc2dWNzNDeXNJMHEKSDUxQXVjVnZNMlowTmpWdmQ1SERPc1FWSk5PYjh4Q0hLNXZ5SkdCM1dWSjJUOHB4dTlPTHRBem1xSktVbkpuVgpNaVh2R2I3RnVScUZXRkZaK3ZveXBnVlpHRTJyT1c1THhFVEs1d0kvVkd4WXNEZ0JNZ2NSUVZueDBHdmh3YlgxClFJSUZjK1lxWE5RdTV5NFBJWDBkNmZ6bXhGbWp2MW00UTc3VmE3ajY0akVoYkpXYjgvVTFldWtId1RaR1h2TGUKTzFmVTAvdDBHajlXVDJhQythelVQclRac3c3MEY3WllOTjdCKzlhQkZxWjRzeGFoVXpvREtIRmpDVjJBR2NLbQozR2cwNVl0OVZRT0pSUGh5S2JmbW1nQjBGeUpCa1EyS08xUkEvaVhLT1dJckVWQlpaMXFZeHZsSFFOeEtwb1g2CjNrWG0xNG9XM2lYN3U4czU0L3N1OTRmcVpUYnFGVHNlOU5tWlVISXltQ0w5bWxZOXgxZTE3NWg3Z1Y0QjRMaXMKTHFGQXlwMEwrbm8zaTJ6SC9tdGZ3Q3Y0L3VEdTE2NnZQZy9SdDRZSTZ1ajRhNmhWcStzVERjekk5czFiVzFmSQpmek9WQWdNQkFBR2pVekJSTUIwR0ExVWREZ1FXQkJRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQWZCZ05WCkhTTUVHREFXZ0JRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQVBCZ05WSFJNQkFmOEVCVEFEQVFIL01BMEcKQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJ6eUpCa3htd29iWGVWeWJpdzFQanZ3THhmMCsyMkowdm9pc05XcE83VwpxNnpJTUUyWjVjTlEyNUVUb3M1WithNWtSN2UxRmE3WHhzVSt4OVBtcis2NkE0NVAxZFRFVTMvUEFqa0llajFMCnhPM2daR1EwbTZHaDlJSGNPbU9PQ1owWG9NRjBORmg4WHlPRW0vaks3SEhSMkUrODZxM285bkFVd0o4WlZFZXAKeHovTWZ1dWVTaEo2c1p2bXYzN0pmSGJHb3JDcTRPUzZPbDJhZkRjRFpJdEh3NTFrN0hnZTQwazFVMVRaVlI0SQoxTUJzall4RmNJU1FobHhGcCtWR3M4KzdyTDFnb3ZqWFhLMklQSy9HdEZmckFNbE1IVTJkQWNEMjRCK2oraTJ3CnNzWjNhMUVNcERYVVJabVIyMkZHYnovNWJpN1VhalpFSU1KZCtUZzFsZUJXeFoxekpTU0NvSDcrNmJGZ0dwTkEKT1VEdjk3NzFwMmhkWllrNmlob0N2UjNNSFBla0xzcEhKL0tKc3dFRnVCck92RkFodzNGVGRwQ0tBMGtMdzZOMQphbUFZV0pkZlkrbGlFK01iYWo1c05CVHk5bGVMV1BSdXlmZGVwT2V5VkRYZ0xsTGFlUDBHOFRyNnZadlVYY1RnCmtDeEdqemZBOVJDQ0RzMmsvZUMvdDRxRThNQnIzcUFkbWU3NkJFTEpEV2o2MlBKK3plZndEUzNJd1gxbXRXdUUKWXdTTjlCNHM0NENjb09WKzU0alZQeXgyMFBJWjA2T05DTTR5SGdBdmdQMS83Uk9USDZHcVRKQ25IUlNmTkNXagp0YnFPRVF5NDUzcENoamR0ZWNvQ3c4UU5xMzU4RVhLNzlKb2ZyNGcxS2RyalBTWXBTajZCd2wrbWF5dzJBdjNoCkF3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
  service:
    name: "operator"
    namespace: "default"
  version: v1
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: operator
webhooks:
- name: v1.operator.enonic.cloud
  rules:
    - apiGroups: ["enonic.cloud"]
      operations: ["*"]
      apiVersions: ["v1"]
      resources: ["xp7deployments", "xp7vhosts", "xp7apps", "xp7configs", "domains"]
      scope: "*"
    - apiGroups: ["networking.k8s.io"]
      operations: ["*"]
      apiVersions: ["v1"]
      resources: ["ingresses"]
      scope: "*"
  admissionReviewVersions: ["v1"]
  failurePolicy: Fail
  sideEffects: None
  timeoutSeconds: 5
  clientConfig:
    caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZEVENDQXZXZ0F3SUJBZ0lVRzVZbjJGS2dDNllKdE92UkFhZUsxdGlJMHRFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xiWGxoZFhSb2IzSnBkSGt3SGhjTk1qRXdOVEEwTVRRek1URTNXaGNOTXpFdwpOVEF5TVRRek1URTNXakFXTVJRd0VnWURWUVFEREF0dGVXRjFkR2h2Y21sMGVUQ0NBaUl3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dJUEFEQ0NBZ29DZ2dJQkFLd0FTb2ZvN3NUWmp0Z0xNaVU2bTRPa3Y1M2JDU1MzRTFZb1IxeFQKa0xjNTIxQmFhbkdZc0dLdEpXM2pjaU5SR01Pd0hYRWQrTm9XS3l6TlZCUDhHc2c0WURjOGlKUFpFTjJ0WXNXYgpSWTVyRTJ4M1diaG4xbzIvTWJQK0d1YktnU3Z0Qm01RERSaDNaQUl0ZUNlcmp1OEFua08zMFp4ZGdIM0FGN1RoCm5SN3d2RnN6VnFNVlVJazltVzBPbnBkMHJTOVN0K2xIeXlKb2UyRHdjaTRNV08yaUN1OWlhc2dWNzNDeXNJMHEKSDUxQXVjVnZNMlowTmpWdmQ1SERPc1FWSk5PYjh4Q0hLNXZ5SkdCM1dWSjJUOHB4dTlPTHRBem1xSktVbkpuVgpNaVh2R2I3RnVScUZXRkZaK3ZveXBnVlpHRTJyT1c1THhFVEs1d0kvVkd4WXNEZ0JNZ2NSUVZueDBHdmh3YlgxClFJSUZjK1lxWE5RdTV5NFBJWDBkNmZ6bXhGbWp2MW00UTc3VmE3ajY0akVoYkpXYjgvVTFldWtId1RaR1h2TGUKTzFmVTAvdDBHajlXVDJhQythelVQclRac3c3MEY3WllOTjdCKzlhQkZxWjRzeGFoVXpvREtIRmpDVjJBR2NLbQozR2cwNVl0OVZRT0pSUGh5S2JmbW1nQjBGeUpCa1EyS08xUkEvaVhLT1dJckVWQlpaMXFZeHZsSFFOeEtwb1g2CjNrWG0xNG9XM2lYN3U4czU0L3N1OTRmcVpUYnFGVHNlOU5tWlVISXltQ0w5bWxZOXgxZTE3NWg3Z1Y0QjRMaXMKTHFGQXlwMEwrbm8zaTJ6SC9tdGZ3Q3Y0L3VEdTE2NnZQZy9SdDRZSTZ1ajRhNmhWcStzVERjekk5czFiVzFmSQpmek9WQWdNQkFBR2pVekJSTUIwR0ExVWREZ1FXQkJRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQWZCZ05WCkhTTUVHREFXZ0JRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQVBCZ05WSFJNQkFmOEVCVEFEQVFIL01BMEcKQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJ6eUpCa3htd29iWGVWeWJpdzFQanZ3THhmMCsyMkowdm9pc05XcE83VwpxNnpJTUUyWjVjTlEyNUVUb3M1WithNWtSN2UxRmE3WHhzVSt4OVBtcis2NkE0NVAxZFRFVTMvUEFqa0llajFMCnhPM2daR1EwbTZHaDlJSGNPbU9PQ1owWG9NRjBORmg4WHlPRW0vaks3SEhSMkUrODZxM285bkFVd0o4WlZFZXAKeHovTWZ1dWVTaEo2c1p2bXYzN0pmSGJHb3JDcTRPUzZPbDJhZkRjRFpJdEh3NTFrN0hnZTQwazFVMVRaVlI0SQoxTUJzall4RmNJU1FobHhGcCtWR3M4KzdyTDFnb3ZqWFhLMklQSy9HdEZmckFNbE1IVTJkQWNEMjRCK2oraTJ3CnNzWjNhMUVNcERYVVJabVIyMkZHYnovNWJpN1VhalpFSU1KZCtUZzFsZUJXeFoxekpTU0NvSDcrNmJGZ0dwTkEKT1VEdjk3NzFwMmhkWllrNmlob0N2UjNNSFBla0xzcEhKL0tKc3dFRnVCck92RkFodzNGVGRwQ0tBMGtMdzZOMQphbUFZV0pkZlkrbGlFK01iYWo1c05CVHk5bGVMV1BSdXlmZGVwT2V5VkRYZ0xsTGFlUDBHOFRyNnZadlVYY1RnCmtDeEdqemZBOVJDQ0RzMmsvZUMvdDRxRThNQnIzcUFkbWU3NkJFTEpEV2o2MlBKK3plZndEUzNJd1gxbXRXdUUKWXdTTjlCNHM0NENjb09WKzU0alZQeXgyMFBJWjA2T05DTTR5SGdBdmdQMS83Uk9USDZHcVRKQ25IUlNmTkNXagp0YnFPRVF5NDUzcENoamR0ZWNvQ3c4UU5xMzU4RVhLNzlKb2ZyNGcxS2RyalBTWXBTajZCd2wrbWF5dzJBdjNoCkF3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
    service:
      name: "operator"
      namespace: "default"
      path: /apis/operator.enonic.cloud/v1/validations
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: operator
webhooks:
  - name: v1.operator.enonic.cloud
    rules:
      - apiGroups: ["enonic.cloud"]
        operations: ["*"]
        apiVersions: ["v1"]
        resources: ["xp7deployments", "xp7vhosts", "xp7apps", "xp7configs", "domains"]
        scope: "*"
      - apiGroups: ["networking.k8s.io"]
        operations: ["*"]
        apiVersions: ["v1"]
        resources: ["ingresses"]
        scope: "*"
    admissionReviewVersions: ["v1"]
    failurePolicy: Fail
    sideEffects: None
    timeoutSeconds: 5
    clientConfig:
      caBundle: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZEVENDQXZXZ0F3SUJBZ0lVRzVZbjJGS2dDNllKdE92UkFhZUsxdGlJMHRFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0ZqRVVNQklHQTFVRUF3d0xiWGxoZFhSb2IzSnBkSGt3SGhjTk1qRXdOVEEwTVRRek1URTNXaGNOTXpFdwpOVEF5TVRRek1URTNXakFXTVJRd0VnWURWUVFEREF0dGVXRjFkR2h2Y21sMGVUQ0NBaUl3RFFZSktvWklodmNOCkFRRUJCUUFEZ2dJUEFEQ0NBZ29DZ2dJQkFLd0FTb2ZvN3NUWmp0Z0xNaVU2bTRPa3Y1M2JDU1MzRTFZb1IxeFQKa0xjNTIxQmFhbkdZc0dLdEpXM2pjaU5SR01Pd0hYRWQrTm9XS3l6TlZCUDhHc2c0WURjOGlKUFpFTjJ0WXNXYgpSWTVyRTJ4M1diaG4xbzIvTWJQK0d1YktnU3Z0Qm01RERSaDNaQUl0ZUNlcmp1OEFua08zMFp4ZGdIM0FGN1RoCm5SN3d2RnN6VnFNVlVJazltVzBPbnBkMHJTOVN0K2xIeXlKb2UyRHdjaTRNV08yaUN1OWlhc2dWNzNDeXNJMHEKSDUxQXVjVnZNMlowTmpWdmQ1SERPc1FWSk5PYjh4Q0hLNXZ5SkdCM1dWSjJUOHB4dTlPTHRBem1xSktVbkpuVgpNaVh2R2I3RnVScUZXRkZaK3ZveXBnVlpHRTJyT1c1THhFVEs1d0kvVkd4WXNEZ0JNZ2NSUVZueDBHdmh3YlgxClFJSUZjK1lxWE5RdTV5NFBJWDBkNmZ6bXhGbWp2MW00UTc3VmE3ajY0akVoYkpXYjgvVTFldWtId1RaR1h2TGUKTzFmVTAvdDBHajlXVDJhQythelVQclRac3c3MEY3WllOTjdCKzlhQkZxWjRzeGFoVXpvREtIRmpDVjJBR2NLbQozR2cwNVl0OVZRT0pSUGh5S2JmbW1nQjBGeUpCa1EyS08xUkEvaVhLT1dJckVWQlpaMXFZeHZsSFFOeEtwb1g2CjNrWG0xNG9XM2lYN3U4czU0L3N1OTRmcVpUYnFGVHNlOU5tWlVISXltQ0w5bWxZOXgxZTE3NWg3Z1Y0QjRMaXMKTHFGQXlwMEwrbm8zaTJ6SC9tdGZ3Q3Y0L3VEdTE2NnZQZy9SdDRZSTZ1ajRhNmhWcStzVERjekk5czFiVzFmSQpmek9WQWdNQkFBR2pVekJSTUIwR0ExVWREZ1FXQkJRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQWZCZ05WCkhTTUVHREFXZ0JRYmFTQS9aNUVVR2lIZlpJeC9JUFhoU3FzRytqQVBCZ05WSFJNQkFmOEVCVEFEQVFIL01BMEcKQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJ6eUpCa3htd29iWGVWeWJpdzFQanZ3THhmMCsyMkowdm9pc05XcE83VwpxNnpJTUUyWjVjTlEyNUVUb3M1WithNWtSN2UxRmE3WHhzVSt4OVBtcis2NkE0NVAxZFRFVTMvUEFqa0llajFMCnhPM2daR1EwbTZHaDlJSGNPbU9PQ1owWG9NRjBORmg4WHlPRW0vaks3SEhSMkUrODZxM285bkFVd0o4WlZFZXAKeHovTWZ1dWVTaEo2c1p2bXYzN0pmSGJHb3JDcTRPUzZPbDJhZkRjRFpJdEh3NTFrN0hnZTQwazFVMVRaVlI0SQoxTUJzall4RmNJU1FobHhGcCtWR3M4KzdyTDFnb3ZqWFhLMklQSy9HdEZmckFNbE1IVTJkQWNEMjRCK2oraTJ3CnNzWjNhMUVNcERYVVJabVIyMkZHYnovNWJpN1VhalpFSU1KZCtUZzFsZUJXeFoxekpTU0NvSDcrNmJGZ0dwTkEKT1VEdjk3NzFwMmhkWllrNmlob0N2UjNNSFBla0xzcEhKL0tKc3dFRnVCck92RkFodzNGVGRwQ0tBMGtMdzZOMQphbUFZV0pkZlkrbGlFK01iYWo1c05CVHk5bGVMV1BSdXlmZGVwT2V5VkRYZ0xsTGFlUDBHOFRyNnZadlVYY1RnCmtDeEdqemZBOVJDQ0RzMmsvZUMvdDRxRThNQnIzcUFkbWU3NkJFTEpEV2o2MlBKK3plZndEUzNJd1gxbXRXdUUKWXdTTjlCNHM0NENjb09WKzU0alZQeXgyMFBJWjA2T05DTTR5SGdBdmdQMS83Uk9USDZHcVRKQ25IUlNmTkNXagp0YnFPRVF5NDUzcENoamR0ZWNvQ3c4UU5xMzU4RVhLNzlKb2ZyNGcxS2RyalBTWXBTajZCd2wrbWF5dzJBdjNoCkF3PT0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
      service:
        name: "operator"
        namespace: "default"
        path: /apis/operator.enonic.cloud/v1/mutations
