apiVersion: enonic.cloud/v1alpha2
kind: Xp7Deployment
metadata:
  name: mycloud-mysolution-myenv-myservice
  namespace: mycloud-mysolution-myenv-myservice
  labels:
    cloud: mycloud
    solution: mysolution
    environment: myenv
    service: myservice
spec:
  enabled: true
  xpVersion: 7.7.0-B2

#  nodesPreinstalledApps:
#    - name: snapshotter
#      url: https://repo.enonic.com/public/com/enonic/app/snapshotter/3.0.2/snapshotter-3.0.2.jar

  nodesSharedDisks:
    - name: blobstore
      size: 100Mi
    - name: snapshots
      size: 100Mi

  nodeGroups:
    - name: main
      data: true
      master: true
      replicas: 1
      env:
        - name: MY_ENV
          value: VAR
      resources:
        cpu: "1"
        memory: 1Gi
        disks:
          - name: deploy
            size: 100Mi
          - name: export
            size: 100Mi
          - name: index
            size: 100Mi
          - name: work
            size: 100Mi
