{{- if not .Values.onlyDeployCrds }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}
rules:
  - apiGroups: [ "" ]
    resources: [ "configmaps", "services", "serviceaccounts", "secrets", "namespaces", "events" ]
    verbs: [ "*" ]
  - apiGroups: [ "" ]
    resources: [ "pods" ]
    verbs: [ "watch", "list", "get" ]
  - apiGroups: [ "apps" ]
    resources: [ "statefulsets", "persistentvolumeclaims" ]
    verbs: [ "*" ]
  - apiGroups: [ "networking.k8s.io" ]
    resources: [ "ingresses" ]
    verbs: [ "*" ]
  - apiGroups: [ "rbac.authorization.k8s.io" ]
    resources: [ "clusterrolebindings", "clusterroles", "roles", "rolebindings" ]
    verbs: [ "*" ]
  - apiGroups: [ "enonic.cloud" ]
    resources: [ "xp7deployments", "xp7apps", "xp7configs", "domains" ]
    verbs: [ "*" ]
  - nonResourceURLs: # TODO: Fix rules
      - "*"
    verbs: ["delete"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}
  apiGroup: rbac.authorization.k8s.io
---
{{- end }}
