name: Development

on:
  workflow_dispatch:

jobs:
  nightly:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.11.0'

      - name: Setup YQ
        uses: chrisdickinson/setup-yq@latest
        with:
          yq-version: v4.25.1

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v6.1.0-20
          platforms: all

      - name: Setup buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: enonicpublisher
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Operator version
        id: operator_version
        run: echo "::set-output name=version::$(./get-version.sh)"

      - name: Assert versions
        run: |
          case "${{ steps.operator_version.outputs.version }}" in
            0.0.*) ;;
          *) echo "dev version must start with 0.0."; exit 1 ;;
          esac

      - name: Build java-client and java-operator
        run: ./gradlew build -x check

      - name: Publish docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          pull: true
          no-cache: true
          push: true
          tags: "enonic/xp-operator:${{ steps.operator_version.outputs.version }}"
          platforms: linux/amd64,linux/arm64

      - name: Publish helm chart
        run: curl -u "ci:${{ secrets.ARTIFACTORY_PASSWORD }}" https://repo.enonic.com/repository/helm/ --upload-file helm/build/libs/xp-operator-${{ steps.operator_version.outputs.version }}.tgz -v

